{
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "array-callback-return": "off"
  },
  "globals": {
    "context": "readonly",
    "cy": "readonly"
  }
}
