.profile {
  &__avatar-container {
    display: flex;
    justify-content: space-around;
    height: 50px;
  }

  &__avatar {
    width: 40px;
    border-radius: 50%;
  }

  &__avatar--selected {
    transition-property: width;
    transition-duration: 0.2s;
    border: 3px solid var(--primary);
    outline: none;
    width: 50px;
  }
}
