.dashboard {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}

.dashboard__title {
  text-align: center;
}

.dashboard__container {
  display: flex;
}

.dashboard__habits {
  width: 100px;
}

.dashboard__habits,
.dashboard__days {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dashboard__row {
  height: 40px;
  display: flex;
  justify-content: space-around;
}

.dashboard__cell {
  width: 60px;
  text-align: center;
}
