@import "../Variables.scss";

.habit {
  &__table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__row {
    display: flex;

    &:last-child .habit__cell--today {
      border-bottom-width: $border-width;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  &__cell-habit-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__cell-frequency-container {
    width: 380px;
    display: flex;
    justify-content: space-around;
  }

  &__cell-action-container {
    width: 44px;
    padding-bottom: 10px;
  }

  &__cell {
    width: 55px;
    text-align: center;

    &--today {
      border: $border-width solid $muted;
      border-width: 0 $border-width;
    }
    &--today-header {
      border: $border-width solid $muted;
      border-bottom-width: 0;
      margin-bottom: 0px;
      margin-top: -5px;
      padding-top: 5px;
    }

    .toggle {
      margin: 5px 0 5px 7px;
    }
  }
}

@media (max-width: 576px) {
  .habit {
    &__table {
      max-width: 400px;
      margin: auto;
    }

    &__row {
      flex-wrap: wrap;

      margin: auto;
      width: 390px;
    }

    &__cell-habit-container {
      justify-content: center;
      height: 42px;
    }

    &__cell-frequency-container {
      order: 1;
      width: 390px;
    }

    &__cell {
      font-size: 1rem;
    }
  }
}
