@import "../Variables.scss";

.habit-row {
  display: flex;

  &:first-child .habit-row-frequency__cell--today {
    border-top-width: $border-width;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &:last-child .habit-row-frequency__cell--today {
    border-bottom-width: $border-width;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  &__title {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .habit-row {
    flex-wrap: wrap;
    margin: auto;
    max-width: 380px;

    &__title {
      justify-content: center;
      height: 42px;
    }
  }
}
