@import "../Variables.scss";

.habit-row-frequency {
  width: 380px;
  display: flex;
  justify-content: space-between;

  &__cell {
    width: 55px;
    text-align: center;

    &--today {
      border: $border-width solid $muted;
      border-width: 0 $border-width;
    }

    .toggle {
      margin: 5px 0 5px 6px;
    }
  }
}

@media (max-width: 576px) {
  .habit-row-frequency {
    order: 1;

    &__cell {
      font-size: 1rem;
      padding-top: 5px;
      width: 46px;

      &--today {
        border: $border-width solid $muted;
        border-radius: 0.25rem;
        padding-top: 4px;
      }
    }
  }
}
