.habit {
  &__table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__row {
    display: flex;
  }

  &__cell-habit-container {
    width: 140px;
  }

  &__cell-frequency-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
  }

  &__cell {
    width: 60px;
    text-align: center;

    .toggle {
      margin: 5px 0 5px 7px;
    }
  }
}

@media (max-width: 576px) {
  .habit {
    &__table {
      max-width: 400px;
      margin: auto;
    }

    &__row {
      flex-direction: column;
      margin-bottom: 5px;
    }

    &__cell-habit-container {
      width: 100%;
      text-align: center;
    }

    &__cell {
      font-size: 1rem;
    }
  }
}
