.habit {
  &__table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__row {
    display: flex;
  }

  &__cell-habit-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__cell-frequency-container {
    width: 380px;
    display: flex;
    justify-content: space-around;
  }

  &__cell-action-container {
    width: 44px;
    padding-bottom: 10px;
  }

  &__cell {
    width: 55px;
    text-align: center;

    .toggle {
      margin: 5px 0 5px 7px;
    }
  }
}

@media (max-width: 576px) {
  .habit {
    &__table {
      max-width: 400px;
      margin: auto;
    }

    &__row {
      flex-wrap: wrap;

      margin: auto;
      width: 390px;
    }

    &__cell-habit-container {
      justify-content: center;
      height: 42px;
    }

    &__cell-frequency-container {
      order: 1;
      width: 390px;
    }

    &__cell {
      font-size: 1rem;
    }
  }
}
