.history {
  &__header {
    padding: 0;
  }

  &__header-button {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .card-body {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
