@import "bootstrap/scss/bootstrap";

.mobile-size-container {
  max-width: 340px;
  padding: 15px;
  margin: auto;
}

.large-size-container {
  max-width: 650px;
  padding: 15px;
  margin: auto;
}

.mobile-size-container,
.large-size-container {
  h2 {
    text-align: center;
  }
}

.was-validated .form-control:valid,
.was-validated .form-control:invalid {
  background-image: none;
}

.icon-button {
  width: 44px;
  padding-bottom: 10px;
}
